:root {
    --mainColor: #ffff;
    --mainLightColor: rgba(255, 255, 235, 0);
    --mainDimColor: rgb(228, 228, 228);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
}

.backgroundVideo {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
    filter: saturate(2.5);
}

.blackScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background-color: rgb(17, 17, 17, 0.2);
}

.music-container {
    width: 350px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 36px;
    box-shadow: 0 0 20px rgba(26, 26, 26, 0.1),
    0 0 40px rgba(26, 26, 26, 0.1),
    0 0 80px rgba(26, 26, 26, 0.1);
}

.music-Player {
    margin: 0;
    margin-bottom: 10px;
    color: var(--mainLightColor);
}

.music-Head-Name {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.music-Artist-Name {
    color: var(--mainDimColor);
    margin: 4px 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.songAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    animation: animateAvatar .5s linear infinite;
}

@keyframes animateAvatar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
}

.musicTimeDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
}

.musicProgressBar {
    width: 100%;
    margin-bottom: 16px;
    height: 10px;
    border-radius: 5px;
    outline: none;
    filter: hue-rotate(200deg);
}

.musicBtn {
    border-radius: 20px;
    border: white solid 2px;
    background-color: transparent;
}

.playBtn {
    font-size: 28px;
    margin: 8px 10px;
    color: var(--mainColor);
    cursor: pointer;
}

.playBtn:nth-child(2) {
    font-size: 32px;
    font-weight: 400;
}
.musicControlers{
    display: flex;
    gap: 10px;
}
.mainControlers {
    cursor: pointer;
    font-size: 28px;
    color: var(--mainColor);
}